       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="/js/js.js"></script>
        <script>
          $(document).ready(function(){
          $('select').formSelect();
           $('.modal').modal();
         });
        </script>
</body>
</html>