        <%- include ('../partials/header')%>
        <div class="row teal">
            <div class="col s6 offset-s3 center-align">
              <h5 class="hide-on-med-and-up">Umurima Monitoring System</h5>
                <h3  class="hide-on-small-only">murima Monitoring System</h3>
                <p class="hide-on-small-only">Access your Farm wherever you are.</p>
            </div>
        </div>
        <% if(error) {%>
        <div class="row">
          <div class="col s12 m8 offset-m2 l6 offset-l3 red darken-1">
              <p class="center-align"><%= error %></p>
          </div>
        </div>
        <% } %>
       <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card">
                <div class="valign-wrapper">
                 <div class="col s12 center-align">
                     <h4>Login</h4>
                     <div class="container">
                        <div class="row">
                            <form action="/admin/login" method="post" class="col s12">
                              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <div class="row">
                                    <div class="input-field col s12">
                                      <input id="email" name="email" type="email" class="validate">
                                      <label for="email">Email</label>
                                    </div>
                                  </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                      <input id="password" name="password" type="password" class="validate">
                                      <label for="password">Password</label>
                                    </div>
                                  </div>
                                <div class="row right-align">
                                    <button class="btn waves-effect waves-light teal" type="submit" name="action">sign in
                                      </button>
                                </div>
                            </form>
                           </div>
                     </div>
                 </div>
                </div>
                </div>
        </div>
       </div>
       <%- include('../partials/footer') %>
